// font family
$montserrat: "Montserrat", sans-serif;
$inter: "Inter", sans-serif;
$helvetica:'helvetica';
$helveticacompressed:'helveticacompressed';

// color
$color-orange:#F97316;
$color-blue:#3B82F6;
$color-deepblue:#181935;
$color-body:#0F172A;
$color-gray:#374151;
$color-white:#fff;
$color-back:#FBFBFB;
$color-black:#000;
