@import './variables';
@import './fonts';
@import './header';
@import './footer';
@import './home';
@import './active-penalties';
@import './score-keeper';
@import './game-statistics';
@import './live-stats-tracker';

body,
html {
    overflow-x: hidden;
}

body {
    font-family: $montserrat;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.6;
    color: $color-white;
}

* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-family: $helveticacompressed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 10px;
}

ul,
li,
ol {
    margin-bottom: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: $color-white;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 48px;
    font-weight: 500;
}
h2 {
    font-size: 48px;
    font-weight: 500;
}
h3 {
    font-size: 24px;
    font-weight: 500;
}

ul {
    padding: 0;
}
.mb-50 {
    margin-bottom: 50px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}

input.form-control:focus {
    box-shadow: none;
    border-color: $color-blue;
}
.container.small-container {
    @media only screen and (min-width: 1300px) {
        max-width: 1140px;
    }
}
.wrapper {
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    border-radius: 5px;
    padding: 13px 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    border: 0;
    line-height: 0.8;
    transition: all 0.5s;
    &.btn-primary {
        background: $color-orange;
        color: $color-white;
        &:hover {
            background: $color-blue;
        }
    }
    &.btn-secendary {
        background: $color-green;
        color: $color-white;
        &:hover {
            background: $color-blue;
        }
    }
}
.cmn-box-wrapper {
    background: $color-3;
    box-shadow: 0px 2px 20px 0px #0C0F1B;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    z-index: 1;
    &.p-36 {
        padding-top: 36px;
        padding-bottom: 36px;
    }
}

.cmn-box {
    background: linear-gradient(180deg, rgba(15, 23, 42, 0.8) 0%, rgba(15, 23, 42, 0.8) 37.37%, rgba(15, 23, 42, 0.8) 82.23%);
    border-radius: 20px;
    padding: 30px 120px;
    margin-bottom: 30px;
    &.pt-30 {
        padding-top: 30px;
    }
    h2 {
        margin-bottom: 30px;
        text-align: center;
        position: relative;
        z-index: 1;
        &:after {
            position: absolute;
            content: '';
            background: url('../images/color-grow-hdr.png') no-repeat;
            background-size: 100% 100%;
            bottom: -50px;
            left: 0;
            right: 0;
            margin: auto;
            width: 60%;
            height: 80px;
            z-index: -1;
        }
    }
}